* {
    box-sizing: border-box;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
    margin: 0;
    padding: 0;
    color: black;
}

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 5px 0px black;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}
.brand-title img{
  height: 1.9rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    display: flex;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 1rem;
    font-weight: bold;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: black;
    border-radius: 10px;
}

.search-bar {
  /* border: 1px dotted red; */
  display: flex;
  align-items: center;
  background-color: #f5f5f5;
  border-radius: 4px;
  padding: 0 10px;
  margin-right: 20px;
}

.search-input {
  border: none;
  outline: none;
  padding: 10px;
  font-size: 16px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(226, 221, 221);
}

.search-btn {
  margin-left: 5px;
  background-color: #2874f0;
  color: #ffffff;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}


/* dropdown  */
.dropbtn {
  /* background-color: #2874f0;; */
  margin-top: 5px;
  border-radius: 10px;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #979494;
}

.dropdown:hover .dropdown-content {
  display: block;
}

@media (max-width: 650px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-links.active li{
     display: flex;
     align-items: center;
        justify-content: center;
    }
}